<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
  <tr>
    <th>lat</th>
    <th>lng</th>
    <th>创建时间</th>
  </tr>
  </thead>

  <tbody>
  <% @device_log.each do |log| %>
      <tr>
        <td><%= log.lat %></td>
        <td><%= log.lng %></td>
        <td><%= log.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<td><%= link_to '首页', homes_index_path %></td>

